/* Enter your custom styles here */


/* Enter your custom styles here */

.blueHeader {
    background-color: #0000ff5e !important;
}

.blackColor {
    color: black;
}

.gridContainerHeader {
    border-bottom: 1px solid #cbd5e0;
    padding: 10px !important;
    /*margin: 10px;*/
    text-align: center;
    background-color: white;
}

.sapyardLogo {
    /*position: absolute;*/
    /*z-index: 10;*/
    /*bottom: 0;*/
    /*right: 10px;*/
}

.sapyardLogo > * {
    width: 150px;
}

.redcolorCountLabel {
    color: red;
}

.greencolorCountLabel {
    color: #38a169;
}

.morronColor {
    color: #800000 !important;
}

.graycolorCountLabel {
    color: gray;
}

.blackcolorCountLabel {
    color: black;
}

.fontCountLabelSize500Css {
    font-size: 1rem;
    font-weight: 500;
}

.fontCountLabelSizeCss {
    font-size: 1rem;
    font-weight: 600;
}

.fontCountSizeCss {
    font-size: 1.87rem;
    font-weight: 700;
}

.greenbackgroundCss {
    color: #38a16947;
    /*padding: 10px;*/
    /* background: red; */
    background-color: #00800030;
    border-radius: 4%;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.graybackgroundCss {
    color: #718096;
    /*padding: 10px;*/
    /* background: red; */
    background-color: #80808052;
    border-radius: 4%;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.redbackgroundCss {
    color: #e53e3e;
    /*padding: 10px;*/
    /* background: red; */
    background-color: #fed7d7;
    border-radius: 4%;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.bluebackgroundCss {
    background-color: #0c24af00;
    border: 1px solid #fafafa !important;
    padding: 10px !important;
    border-radius: 50px 20px !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.comboboxBackgroundCss {
    color: #38a16947;
    /*padding: 10px;*/
    /* background: red; */
    background-color: #00800030;
    border: 0 solid #e2e8f0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.iconSizeCss {
    font-size: 1.5rem;
    font-weight: 600;
}

.iconGreenSizeCss {
    font-size: 1.5rem;
    font-weight: 600;
    color: #38a169;
}

.panelBottomBorder > * {
    border-bottom: 0px solid #ccc0 !important;
}